<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename = 'css/main/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename = 'css/user/stylesUserInterface.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename = 'css/main/header.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename = 'css/main/footer.css') }}">
    <title>Tus datos</title>
</head>
<body>

 <div class="wrapper">
  <header> 
    <div class = "cabecero">
        <nav class="navbar navbar-expand-lg bg-body-tertiary">
            <div class="container-fluid">
                <img src="{{ url_for('static', filename='uploads/main/header/whitemindsetlogo.png') }}" alt="">

                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">

                    <li class="nav-item">
                        <div class="NavigationButtom">
                            <a class="nav-link" href="{{ url_for ('userDb.user_dashboard') }}"> Tu inicio</a>
                        </div>
                    </li>
                    <li class="nav-item">
                        <div class="NavigationButtom">
                            <a class="nav-link" href="{{ url_for ('userDb.user_data')}}">Tus datos</a>
                        </div>
                    </li>
                    <li class="nav-item">
                        <div class="NavigationButtom">
                            <a class="nav-link" href="{{ url_for ('userDb.user_goals') }}">Tus Metas</a>
                        </div>
                    </li>
                    <li class="nav-item">
                        <div class="NavigationButtom">
                            <a class="nav-link" href="{{ url_for ('userDb.user_progress') }}">Tu Progreso</a>
                        </div>
                    </li>
                    <li class="nav-item">
                        <div class="NavigationButtom">
                            <a class="nav-link" href="{{ url_for ('userDb.user_reminders') }}">Tus notificaciones</a>
                        </div>
                    </li>

                </ul>
                <form class="d-flex" role="search">
                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search"/>
                    <button class="btn btn-outline-success" type="submit">Search</button>
                </form>
                </div>
            </div>
        </nav>
  </div>



  </header>

  <main class="container my-5">
  <div class="container my-5">
    <h1 class="mb-4">Tus Notificaciones</h1>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Dato1</th>
          <th>Dato2</th>
          <th>Dato3</th>
          <th>Dato4</th>
          <th>Dato5</th>
        </tr>
      </thead>
      <tbody>
        {% for u in users %}
        <tr>
          <td>{{ u.idUser }}</td>
          <td>
            {{ u.userFirstName }}
            {{ u.userFirstLastName }}
          </td>
          <td>{{ u.userEmail }}</td>
          <td>{{ u.userAccountStatus }}</td>
          <td>{{ u.roleName }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
  </main>

    <footer>
      <div class="container text-center footer-container">
        <div class="row header-signature">
          <div class="col"></div>
          <div class="col"></div>
          <div class="col"></div>
          <div class="col-end">Mindset © 2025</div>
        </div>
      </div>
  </footer>
</body>
<script src = "{{ url_for('static', filename = 'js/bootstrap.min.js') }} "></script>
</html>